
body {
    text-align: center;
    background: #00a4ef;
}

.width-95 {
    width: 95%;
    margin: 0 auto;
}

.height-2rem {
    height: 2rem;
}

.header-name {
    font-size: 2rem;
}

.main {
    margin-top: 1rem;
}

.accordion {
    width: 95%;
    margin: 5px auto 0px auto;
}

.allele-box {
    display: inline-block;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 2px 5px;
}

.varianceTemplate {
    min-width: 225px;
}