
body {
    text-align: center;
    background: #00a4ef;
}

.width-95 {
    width: 95%;
    margin: 0 auto;
}

.height-2rem {
    height: 2rem;
}

.header-name {
    font-size: 2rem;
}

.main {
    margin-top: 1rem;
}

.accordion {
    width: 95%;
    margin: 5px auto 0px auto;
}